USE [master]
GO
/****** Object:  Database [TTN_DE2_QLHS_GV_TTGD]    Script Date: 4/5/2017 12:14:35 PM ******/
CREATE DATABASE [TTN_DE2_QLHS_GV_TTGD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTN_DE2_QLHS_GV_TTGD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TTN_DE2_QLHS_GV_TTGD.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TTN_DE2_QLHS_GV_TTGD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TTN_DE2_QLHS_GV_TTGD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTN_DE2_QLHS_GV_TTGD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTN_DE2_QLHS_GV_TTGD]
GO
/****** Object:  User [Thinh]    Script Date: 4/5/2017 12:14:35 PM ******/
CREATE USER [Thinh] FOR LOGIN [Thinh] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 4/5/2017 12:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ID] [int] NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/5/2017 12:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [text] NULL,
	[Gender] [bit] NULL,
	[Phone] [int] NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student_Class]    Script Date: 4/5/2017 12:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Class](
	[ID_Student] [int] NULL,
	[ID_Class] [int] NULL,
	[Address] [nvarchar](50) NULL,
	[Time] [ntext] NULL,
	[Date_Start] [date] NULL,
	[Date_end] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 4/5/2017 12:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [text] NULL,
	[Phone] [int] NULL,
	[Gender] [tinyint] NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teacher_Class]    Script Date: 4/5/2017 12:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_Class](
	[ID_Teacher] [int] NULL,
	[ID_Class] [int] NULL,
	[Address] [nvarchar](50) NULL,
	[Time] [nvarchar](50) NULL,
	[Date_Start] [date] NULL,
	[Date_End] [date] NULL
) ON [PRIMARY]

GO
USE [master]
GO
